<i class="fa fa-times" style="font-size: 30px" (click)="onNoClick()"></i>

<div mat-dialog-content>
    <div class="row">
        <div class="col-md-4" style="padding-left: 10%;padding-top: 5%;">
            <h3>Reliance Trendz</h3>
            <p>Kothapet</p>
            <p>dilsukhnagar</p>
            <p>Hyderabad</p>
            <p>Pincode: 500035</p>
            <p>040-22113366</p>
        </div>
        <div class="col-md-8" style="padding-top: 5%;">
            <p><b><span style="font-size: 18px;">Enticing highlights</span></b></p>
            <p class="setcontent">
                <mat-icon>keyboard_arrow_right</mat-icon><span class="settext">Fantastic proximity to restaurants, bars,
                    shops and sports facilities</span>
            </p>
            <p class="setcontent">
                <mat-icon>keyboard_arrow_right</mat-icon><span class="settext">Oceanside dining at S3 offering shareable
                    seafood, steak and sushi</span>
            </p>
            <p class="setcontent">
                <mat-icon>keyboard_arrow_right</mat-icon><span class="settext">Amazing adults-only outdoor lounge
                    BalQony, perfect for any event</span>
            </p>
            <p class="setcontent">
                <mat-icon>keyboard_arrow_right</mat-icon><span class="settext">Spa Q's luxurious indoor and outdoor
                    beauty treatments and massagesResort-style, outdoor swimming pool and hot tub available
                    year-round</span>
            </p>
        </div>
    </div>
</div>
<style>
    #closebutton {
        position: absolute;
        background: rgba(19, 74, 107, 0.75);
        color: rgb(206, 187, 187);
        top: -10px;
        width: 5%;
        height: 5%;
        margin-right: 6px;
    }

    .fa {
        color: white;
        font-size: 40px;
        padding-left: 15px;
    }

    p {
        color: white;
        font-size: 13px;
    }

    h3 {
        color: white;
    }
</style>