<i class="fa fa-times" style="font-size: 30px" (click)="onNoClick()"></i>

<div mat-dialog-content>
    <div class="row">
        <div class="col-md-4" style="padding-left: 10%;padding-top: 5%;">
            <h3>{{projectDetails.ProjectName}}</h3>
            <p>{{projectDetails.CompanyName}}</p>
            <p>{{projectDetails.Location}}</p>
            <p>{{projectDetails.Website}}</p>
            <p>{{projectDetails.EmailId}}</p>
            <p>{{projectDetails.MobileNumber}}</p>
            <p>{{projectDetails.Description}}</p>
        </div>
        <div class="col-md-8" style="padding-top: 5%;">
            <p><b><span style="font-size: 18px;">Enticing highlights</span></b></p>
            <p *ngFor="let point of points" class="setcontent">
                <mat-icon>keyboard_arrow_right</mat-icon><span class="settext">{{point.Points}}</span>
            </p>
        </div>
    </div>
</div>
<style>
    #closebutton {
        position: absolute;
        background: rgba(19, 74, 107, 0.75);
        color: rgb(206, 187, 187);
        top: -10px;
        width: 5%;
        height: 5%;
        margin-right: 6px;
    }

    .fa {
        color: white;
        font-size: 40px;
        padding-left: 15px;
    }

    p {
        color: white;
        font-size: 13px;
    }

    h3 {
        color: white;
    }
</style>