<div class="container">
    <h2>GET <b>VIRTUAL TOUR </b> QUOTE</h2>

    <h6>Send us your requirement in detail and we <br>
        can suggest you the best shots ideal to <br>
        highlight your business. Why waiting? Get a<br>
        free virtual tour quote!</h6>

    <form name="form" (ngSubmit)="f.form.valid && send()" #f="ngForm" novalidate>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="businessprofile">Business Profile<span class="required">*</span></label>
                    <select class="form-control" placeholder="--select--" name="businessprofile" [(ngModel)]="reqDetails.BusinessProfileId" #businessprofile="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && businessprofile.invalid }" required>
                        <option [value]="0">--Select--</option>
                        <option *ngFor="let method of BusinessProfileList" [value]="method.ProjectTypeId">
                                {{ method.ProjectType }}</option>
                    </select>
                    <div *ngIf="f.submitted && businessprofile.invalid" class="invalid-feedback">
                        <div class="required-text" *ngIf="businessprofile.errors.required">Business Profile is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="timeperiod">I would like to go for a virtual tour </label>
                    <select name="timeperiod" class="form-control" [(ngModel)]="reqDetails.TimePeriodId">
                        <option [value]="">--Select--</option>
                        <option *ngFor="let method of TimePeriodList" [value]="method.TimePeriodId">
                            {{ method.TimePeriod }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Your Name <span class="required">*</span></label>
                    <input type="text" class="form-control" name="Name" [(ngModel)]="reqDetails.Name" #Name="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && Name.invalid }" maxlength="10" required>
                    <div *ngIf="f.submitted && Name.invalid" class="invalid-feedback">
                        <div class="required-text" *ngIf="Name.errors.required">Your Name is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="projectName">Your Email <span class="required">*</span></label>
                    <input type="text" class="form-control" name="emailId" [(ngModel)]="reqDetails.EmailId"
                        #emailId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && emailId.invalid }" maxlength="50"
                        required>
                    <div *ngIf="f.submitted && emailId.invalid" class="invalid-feedback">
                        <div class="required-text" *ngIf="emailId.errors.required">EmailId is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Phone">Phone Number<span class="required">*</span></label>
                    <input type="number" class="form-control" name="phone" [(ngModel)]="reqDetails.PhoneNumber"
                        maxlength="10" #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" maxlength="50"
                        required>
                    <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                        <div class="required-text" *ngIf="phone.errors.required">Phone Number is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Country">Country</label>
                    <select name="country" class="form-control" [(ngModel)]="reqDetails.CountryId">
                        <option [value]="">--Select--</option>
                        <option *ngFor="let method of CountriesList" [value]="method.CountryId">{{ method.CountryName }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Description">Tell us about the location to cover</label>
                    <textarea type="text" class="form-control" name="message"
                        [(ngModel)]="reqDetails.Description"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input name="CheckIn" type="checkbox" [(ngModel)]="reqDetails.CheckInForOffers" />
                    Sign me up for the newsletter! Know about offers and updates!
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-submit">Send</button>
        </div>
    </form>
</div>