
<div class="container">
    <h2 style="font-family: cursive;font-size: 3rem;">MAKEMY360° PROFESSIONAL<br>
        <b style="font-family: cursive;">VIRTUAL TOUR</b> COMPANY</h2>

    <!-- <div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element "> -->
    <div class="wpb_wrapper">
        <p>MakeMy 360° is “virtual reality” production company. MakeMy 360° provides high quality 360 degree virtual
            tours for
            websites and demonstration CDs, e-commerce, real estate, educational, corporate offices and other
            applications.</p>
    </div>
    <!-- </div>
</div> -->
    <div class="row">
        <div class="col">
            <div class="wpb_wrapper">
                <h2 style="font-size: 32px;color: #222222;text-align: left;text-transform: none"
                    class="vc_custom_heading vc_custom_1456460836965"><b>WHO</b> WE ARE</h2>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p>Our team has the resources and proficiency to give a face lift to your website and digital
                            media projects. Our solutions are planned on customer requirements and meet the ever
                            renewing industry standards. MakeMy360° with its vast experience and technological capabilities
                            can fast track your business goals.</p>
                        <p>MakeMy360 is Google Street View Trusted Agency which ensures your business will have good
                            visibility in Google.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p>With MakeMy360° at your side we guarantee world class customer friendly solution at very
                            competitive costs. Harness the powerful communication adequacies of panoramic photography to
                            provide propelled business attention and business growth in your field.</p>
                        <p>MakeMy360 team also include high expertise web designers and developers who can develop highly
                            professional websites to bring these virtual tours to vast internet audience.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="wpb_wrapper">
                <h3 style="font-size: 24px;color: #222222;text-align: left;text-transform: none;font-family: cursive;"
                    class="vc_custom_heading vc_custom_1456460990622"><b style="font-family: cursive;">WHY </b> CHOOSE
                    US</h3>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <!-- <ul class="heli-listing"> -->
                        <p class="setcontent">
                            <mat-icon>keyboard_arrow_right</mat-icon>Google Street View Trusted Agency
                        </p>
                        <p class="setcontent">
                            <mat-icon>keyboard_arrow_right</mat-icon>Full 360º/ Virtual Reality Tours
                        </p>
                        <p class="setcontent">
                            <mat-icon>keyboard_arrow_right</mat-icon>Intuitive UX / UI Design
                        </p>
                        <p class="setcontent">
                            <mat-icon>keyboard_arrow_right</mat-icon>Interactive Maps
                        </p>
                        <p class="setcontent">
                            <mat-icon>keyboard_arrow_right</mat-icon>Live Video / Audio integrated 360 degree tours
                        </p>
                        <p class="setcontent">
                            <mat-icon>keyboard_arrow_right</mat-icon>HDR 360º Panoramic Photography
                        </p>
                        <p class="setcontent">
                            <mat-icon>keyboard_arrow_right</mat-icon>Ariel Panoramic Photography
                        </p>
                        <p class="setcontent">
                            <mat-icon>keyboard_arrow_right</mat-icon>Website integration
                        </p>
                        <!-- </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>