<nav class="navbar navbar-expand-md navbar-default" id="grad2">

  <div class="container-fluid">
    <div class="logo-branding">
      <a class="navbar-brand" href="#"><img src="assets/img/HeaderLogo.png"
          alt="Go360 | Virtual Tour Company India"></a>
    </div>
    <button type="button" class="navbar-toggle" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li><a routerLink="/Home">HOME</a></li>
        <li><a routerLink="/About-us">ABOUT US</a></li>
        <li><a routerLink="/Virtual-tour">VIRTUAL TOUR</a></li>
        <li><a routerLink="/Portfolio">PORTFOLIO</a></li>
        <li><a routerLink="/Request-Quote">REQUEST QUOTE</a></li>
        <li><a routerLink="/contact-us">CONTACT US</a></li>
      </ul>
      <hr />
    </div>
  </div>
</nav>