nav {
    font-size: 100% !important;
    background-color: black !important;
    letter-spacing: 0.8px !important;
    line-height: 24px !important;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 14px;
    font-family: monospace;
}

.navbar-default{
    border-color: black !important;
}

.navbar {
    border-radius: 1px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    margin-top: -20px;
    padding-bottom: 62px;
}

.navbar-nav>li>a:hover {
    font-weight: bold !important;
}

.navbar-items {
    padding-top: 0.5%;
}

nav a {
    padding: 5px 18px;
    text-decoration: none;
    margin-right: 10px;
    /* margin-top: 10px; */
    display: inline-block;
    /* background-color: #eee; */
    border-radius: 4px;
}

.logo-branding {
    margin-left: -29px;
    width: 208px !important;
}

#grad2 {
    background-color: black;
    /* background-image: linear-gradient(90deg, #C0C0C0, white); */
}

.navbar-brand>img {
    display: block;
    padding-top: 9px;
}