<div class="container">
    <h2>WE CREATE<br>
        <b>PROFESSIONAL</b><br>
        VIRTUAL TOURS</h2>

    <div class="row">
        <div class="col-sm-1"><span><i class="fa fa-pencil"></i></span></div>
        <div class="col-sm-3">
            <h3>This is custom heading element</h3>
            <p>Schools, especially international schools, highly benefit from 360° virtual tours as it
                provides a great medium to attract prospective students and parents. 360° Virtual
                tours help the parents to take the decision where their child is going to study.</p>

        </div>
        <div class="col-sm-1"><span><i class="fa fa-cutlery"></i></span></div>
        <div class="col-sm-3">
            <h3>HOTELS, RESORTS AND RESTAURANTS</h3>
            <p>360° Virtual Tours for hotels and resorts help to show the ambience of the location. A view of the
                room through a 360° Virtual Tours is great factor to get a quick booking online.</p>

        </div>
        <div class="col-sm-1"><span><i class="fa fa-home"></i></span></div>
        <div class="col-sm-3">
            <h3>REAL ESTATE - RESIDENTIAL AND COMMERCIAL</h3>
            <p>A prospective buyer will definitely love to see the property in all its reality. This feeling a 360°
                 Virtual Tours provides greatly increase the change of getting the deal. Contact MakeMy360.com to get
                your property covered.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"><span><i class="fa fa-users"></i></span></div>
        <div class="col-sm-3">
            <h3>AUDITORIUMS AND HALLS</h3>
            <p>Ambience and facilities of Auditorium/ Halls are very important for event planners and corporates before
                booking the facility. A 360° Virtual Tour of an Auditorium serves this purpose of portraying your
                amazing facilities in real view. Click here to create a virtual tour.</p>

        </div>
        <div class="col-sm-1"><span><i class="fa fa-hospital-o"></i></span></div>
        <div class="col-sm-3">
            <h3>RENTAL PROPERTY</h3>
            <p>By offering a 360° virtual tour to your prospective renters can help them to choose your property
                in the shortest time. Virutal tours of rental property are know to have very high convertion rates. Ask
                our consultant to book a shoot to create real estate virtual tour.</p>

        </div>
        <div class="col-sm-1"><span><i class="fa fa-car"></i></span></div>
        <div class="col-sm-3">
            <h3>AUTOMOBILES, CRUISE & AIRCRAFTS</h3>
            <p>360° virtual tours save time and speed up the decision making especially when it comes to hiring or
                buying. A real view of the automobile/ curuise or aircraft facility will give a real immersive
                experience. To know more about creating 360° Virtual Tours contact us.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"><span><i class="fa fa-building"></i></span></div>
        <div class="col-sm-3">
            <h3>CORPORATE OFFICES</h3>
            <p>You may have an awesome facility at your business headquarters, where your customers hardly know or
                visit. Presenting a 360° Virtual Tours of corporate office can bring a great authentic feeling to
                your customer and will give an everlasting impression about your business.</p>

        </div>
        <div class="col-sm-1"><span><i class="fa fa-bed"></i></span></div>
        <div class="col-sm-3">
            <h3>BED & BREAKFASTS</h3>
            <p>Let your facility be big or small, but when you present it as it is, that creates a real impression on
                the customer and will help to choose your facility above your competitors. Show your accommodation
                facility through high-quality virtual tours to get a quick conversion of business.</p>

        </div>
        <div class="col-sm-1"><span><i class="fa fa-envira"></i></span></div>
        <div class="col-sm-3">
            <h3>HEALTH AND FITNESS CLUBS, SPAS</h3>
            <p>Now we have numerous health clubs in town and first point of contact a customer make is often through
                your website. Show your health club / Gym with real-time work out videos integrated into the 360°
                Virtual Tours to help a prospective customer to choose your club above others.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"><span><i class="fa fa-microphone"></i></span></div>
        <div class="col-sm-3">
            <h3>EVENTS, VENUES AND SEATING</h3>
            <p>A normal 2D photograph often fails to capture the real dimension and ambience of your location. That’s
                where the 360° Virtual Tours score. Capturing the facility through high-quality virtual tours can
                give a real-time experience to the event managers to choose your facility.</p>

        </div>
        <div class="col-sm-1"><span><i class="fa fa-street-view"></i></span></div>
        <div class="col-sm-3">
            <h3>TOURISM LOCATIONS</h3>
            <p>Be it be a mountain or beach location, an immersive 360° virtual tour integrated with real-time
                video and audio can give a mesmerizing feeling to the visitor online and help them to choose your
                location for next holiday.</p>

        </div>
        <div class="col-sm-1"><span><i class="fa fa-cubes"></i></span></div>
        <div class="col-sm-3">
            <h3>INTERIOR DESIGN COMPANIES</h3>
            <p>Showcasing your design works through an interactive 360° virtual tour is the best way to
                covert a prospective customer and choose you for his next project. Get is touch with us to convert your
                interior design works into an immersive virtual tour.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"><span><i class="fa fa-female"></i></span></div>
        <div class="col-sm-3">
            <h3>BEAUTY SALONS</h3>
            <p>A well-designed beauty parlour can be best captured using our video integrated virtual tours. A small
                video of beauty treatment integrated into our virtual tour can become viral online and double your
                business in no time. If you can spend thousands of dollars to furnish your parlour, why not spend a few
                dollars to market it?</p>

        </div>
        <div class="col-sm-1"><span><i class="fa fa-plus-square"></i></span></div>
        <div class="col-sm-3">
            <h3>MEDICAL OFFICES & HOSPITALS</h3>
            <p>There are many facilities in a hospital where a common man is not even aware of. Show those expensive
                machinery and treatment rooms to the world using an interactive map and 360° virtual tours and
                that will help people to choose your hospital above others.</p>

        </div>
        <div class="col-sm-1"><span><i class="fa fa-plus-square"></i></span></div>
        <div class="col-sm-3">
            <h3>CHURCHES AND SCHOOLS</h3>
            <p>The architecture of cathedrals, basilicas and abbey churches are derived from the Early Christian
                architectural traditions established in the Constantinian period. Absorb this grandeur and portray it
                online using full 360° virtual tours.</p>

        </div>
    </div>
</div>