<div class="row" style="padding-left: 25px;">
    <div *ngFor="let method of projectDetailsList">
        <div class="container">
            <div class="col-sm-4">
                <img class="image" width="350" height="380" [src]="method.ProtfolioImage" (click)="onImageClick(method.SearchId)"/>
                <div class="middle">
                    <h4 class="textproject">{{method.ProjectName}}</h4>
                    <p class="textlocation">{{method.Location}}</p>
                </div>
            </div>
        </div>
    </div>
</div>