<div class="row">
    <div *ngFor="let method of projectDetailsList">
        <div class="col-sm-4">
            <img style="align-content: center; padding-top:15px;" width="350" height="380"
                [src]="method.ProtfolioImage" (mouseover) ="method.showTextBlock = true"  (mouseleave) ="method.showTextBlock = false"/>
            <div *ngIf="method.showTextBlock" class="text-block">
                <h4>{{method.ProjectName}}</h4>
                <p>{{method.Location}}</p>
            </div>
        </div>
    </div>
</div>