<i class="fa fa-times" style="padding-left: 330px; color: white;font-size: 30px;" (click)="onNoClick()"></i>

<form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <div mat-dialog-content>
        <div class="form-group">
            <label for="name">Name </label>
            <input type="text" class="form-control" name="name" [(ngModel)]="details.Name" #name="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" maxlength="10" required>
            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                <div class="required-popup-text" *ngIf="name.errors.required">Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="projectName">EmailId</label>
            <input type="text" class="form-control" name="emailId" [(ngModel)]="details.EmailId" #emailId="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && emailId.invalid }" maxlength="50" required>
            <div *ngIf="f.submitted && emailId.invalid" class="invalid-feedback">
                <div class="required-popup-text" *ngIf="emailId.errors.required">EmailId is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="Phone">Phone Number</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="details.PhoneNumber" maxlength="10"
                #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required>
            <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                <div class="required-popup-text" *ngIf="phone.errors.required">Phone Number is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="Description">Message</label>
            <textarea type="text" class="form-control" name="message" [(ngModel)]="details.Message"></textarea>
        </div>
    </div>
    <div mat-dialog-actions>
        <div class="form-group">
            <button type="submit" class="btn-popup-submit">Submit</button>
            <!-- <button type="submit" class="btn btn-primary"
                style="align-content: right;letter-spacing: 0.1em;font-family: 'Roboto Condensed', sans-serif">Submit</button> -->
        </div>
    </div>
</form>
<style>
    label {
        display: inline-block;
        margin-bottom: .5rem;
        color: white;
        font-size: 12px;
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 0.1em;
    }

    /* 
    .form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: gold;} */
</style>