<div class="container">
  <form>
    <div class="form-group">
      <label for="name">Project Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="projectName" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="form-group">
        <label for="power">Hero Power</label>
        <select class="form-control" id="power"
                [(ngModel)]="companyName" name="power">
          <option *ngFor="let data of companyNamesList" [value]="data">{{data}}</option>
        </select>
    </div>

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let i of images" cdkDrag>
        <img [src]="i.data" height="200">
        <input type="text" class="form-control" id="fileName" [(ngModel)]="i.fileName" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <!-- <img *ngFor='let url of urls'  [src]="url" height="200"> <br/> -->
    <div class="form-group">
    <input type='file' (change)="onSelectFile($event)" multiple>
        <button type="submit" class="btn btn-primary" (click)="upload()">Upload</button>
    </div>
  </form>
</div>