<div id="myPage" data-spy="scroll" >
  <div class="footer-wrapper">
  <footer class="site-footer">
  <div class="container">

 
     
      <div class="row">
        <div class="col-md-4">
            <img src="assets/img/MakeMy360-Footer.jpg" alt="MakeMy360 Virtual Tour Company"> <br /><br /><br/>
            <p><span class="glyphicon glyphicon-earphone"></span>  (+91) 7306553552 </p>
            <p><span class="glyphicon glyphicon-envelope"></span>  makemy360@gmail.com </p>
            <p><span class="glyphicon glyphicon-map-marker gly"></span>  India </p>
            <br/>
            <br/>
            <div class="social_media-icons">
             <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.makemy360.com/"><i class="fa fa-facebook"></i></a>
             <a href="https://api.whatsapp.com/send?text=http://www.makemy360.com/"><i class="fa fa-whatsapp"></i></a>

             </div>
          </div>
        
         <div class="col-md-4">
           <div class="Newsletter"><h3><p><b style="color: white;">NEWSLETTER</b></p></h3></div>
           <div>Subscribe to Our Newsletter to get Important News & Amazing Offers:</div>

         <form>
          <br/>
           <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email"  placeholder="Your Email address">
           </div>
         
         <br/>
         <button type="submit" class="btn-submit">Subscribe</button>
         
         </form>
         
        
    </div>
    <div class="col-md-4">
        <div class="company"> <h3><p><b style="color: white;">Company</b></p></h3></div>
    <div>
     
      <ul>

          <li><a routerLink="/Home">Home</a></li>
          <li><a routerLink="/About-us">About us</a></li>
          <li><a routerLink="/Virtual-tour">Virtual Tour</a></li>
          <li><a routerLink="/">Portfolio</a></li>
          <li><a routerLink="/Request-Quote">Request Quote</a></li>
         <li><a routerLink="/contact-us">Contact-us</a></li>
      </ul>
       </div>
      </div>
  </div> <br>
  <br>

 

   
  </div>

  </footer>
  </div>
   <div class="footer-copywrite">
  <div class="copyright ">
  <div class="container">
  Ⓒ 2019 Copyright. All rights reserved. MakeMy360° | Google Street View Trusted 360° Virtual Tour Company
  </div>
  </div>
  </div>
  
</div>