<div class="container">
    <form>
        <h1>Customer Details</h1>
        <div class="form-group">
            <label for="companyName">Company Name:&emsp;</label>
            <label>{{customerDetails.companyName}}</label>
        </div>
        <div class="form-group">
            <label for="projectName">Project Name:&emsp;</label>
            <label>{{customerDetails.projectName}}</label>
        </div>
        <div class="form-group">
            <label for="location">Location:&emsp;</label>
            <label>{{customerDetails.location}}</label>
        </div>
        <div class="form-group">
            <p-tabMenu [model]="items"></p-tabMenu>
        </div>
    </form>
</div>