<i class="fa fa-times" style="font-size: 30px" (click)="onNoClick()"></i>


<div mat-dialog-content>
    <h1 style="margin: 10px 0;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px">{{projectDetails.ProjectName}}</h1>
    <p style="margin: 10px 0;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px">{{projectDetails.Location}}</p>
    <p style="margin: 10px 0;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px">{{projectDetails.Website}}</p>
    <p style="margin: 10px 0;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px">{{projectDetails.EmailId}}</p>
    <p style="margin: 10px 0;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px">{{projectDetails.MobileNumber}}</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="callAction()"><span style="color: white;">CALL</span></button>
</div>
<style>
    #closebutton {
        position: absolute;
        background: rgba(19, 74, 107, 0.75);
        color: black;
        top: -10px;
        width: 5%;
        height: 5%;
        margin-right: 6px;
    }

    .fa {
        color: white;
        font-size: 40px;
        padding-left: 15px;
    }

    p {
        color: white;
        font-size: 13px;
    }

    h1 {
        color: white;
        font-size: 18px;
        text-align: center;
    }
</style>